@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 32px;
  border: 1px solid black;
  padding: 5;
  /* margin: 5; */
  font-weight: bold;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0px 250px 0px;
}

.intro {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 40;
  font-size: x-large;
}

.name {
  padding-top: 25;
  text-align: center;
  font-weight: bold;
}

.introContainer {
  display: flex;
  justify-content: center;
}

.bottomLinksContainer {
  display: flex;
  justify-content: center;

}

.bottomLinks {
  font-size: x-large;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.bottomLink {
  display: flex;
  align-items: center;
  gap: 5;
}