@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 32px;
  border: 1px solid black;
  padding: 5;
  margin: 5;
  font-weight: bold;
}

.intro {
  display: flex;
  justify-content: center;
  width: 60%;
  gap: 40;
  font-size: x-large;
}

.name {
  margin-top: 25;
  text-align: center;
  font-weight: bold;
}

.introContainer {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.bottomLinksContainer {
  display: flex;
  justify-content: center;

}

.bottomLinks {
  font-size: x-large;
  margin-top: 200;
  width: 60%;
  display: flex;
  gap: 100;
  justify-content: space-between;
}

.bottomLink {
  display: flex;
  align-items: center;
  gap: 5;
}