.backArrow {
    display: none;
}

.projectsContainer {
    display: flex;
    flex-direction: column;
    gap: 15;
    margin-top: 2%;
}

.embededVid {
    position: fixed;
    height: 350;
    right: 25px;
    top: 150px;
    background-color: white;
    height: auto;
    border-radius: 5px;
}

.closeVid :only-child {
    background-color: rgb(62, 62, 62);
    color: white;
    margin: 5px;
    border-radius: 4px;
}

@media (max-width: 640px) {
    .projectsContainer {
        margin-top: 30px;
    }

    .embededVid {}
}