.project {
    background: white;
    justify-self: center;
    margin: 0px 5% 10px 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.projectName {
    font-size: larger;
    font-weight: bold;
    margin-bottom: 2%;
    text-align: center;
    color: #003366;
}

.projectName h4 {
    display: inline-block;
    border-bottom: 1px solid rgb(191, 191, 191);
    padding-bottom: 4px;
}

.projectDetail {
    display: flex;
    gap: 100px;
}

.projectImgContainer {
    display: flex;
    justify-content: center;
}

.description {
    margin-bottom: 10px;
    color: #003366
}

.descriptionDetail {
    font-weight: normal;
    color: black;
}

.projectLinksIcons {
    margin: 40px 10px 50px 0px;
}

.projectLinks {
    display: flex;
    align-items: center;
    gap: 50px;
}

.link {
    display: flex;
    align-items: center;
    gap: 3px
}

.linkArrow {
    font-size: x-large;
    transform: rotate(-45deg);
    display: inline-block;
    color: green;
}

.projectLinks :Link {
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px;
}


@media (max-width: 640px) {
    .backArrow {
        display: block;
    }

    .projectDetail {
        flex-direction: column;
        font-size: medium;
        gap: 0;
    }

    .projectLinks {
        gap: 5px;
        font-size: medium;
    }
}