.container {
    /* display: flex; */

}

.language {
    display: flex;
    align-items: center;
    gap: 5px;
}

/* .language *:first-child {
    transition: 0.5s ease-in-out;
}

.language:hover>*:first-child {
    transform: rotate(90deg);
} */

.globeIcon {
    font-size: larger;
}

.selectContainer {
    display: flex;
    gap: 2px;
}

.selectOption {
    background-color: aliceblue;
    color: black;
    width: 30px;
    text-align: center;
    transition: 0.4s ease;
}

.selectOption:hover {
    background-color: rgb(238, 189, 99);
    cursor: pointer;
}

.selectOption:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.selectOption:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}