.navContainer {
  margin-bottom: 150px;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
}

.navLinks {
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;

  padding: 20px 20px 20px 20px;
  font-weight: bold;
  color: white;
}

.contact {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  justify-content: space-around
}

.homePageCard {
  background-color: #ffffff;
}

.intro {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  padding: 20px;
  gap: 5px;
  width: 65%;
  border-radius: 10px;
  text-align: center;
  align-items: center;
}

.intro :first-child {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intro :first-child :first-child {
  font-size: larger;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.introContainer {
  display: flex;
  justify-content: center;
}

.bottomLinksContainer {
  display: flex;
  justify-content: space-between;
  margin-right: 10px;
  width: 20%;
}


.bottomLink {
  display: flex;
  align-items: center;
}

.skillsIcons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  gap: 20px;
}

@media (max-width: 640px) {


  .navLinks {
    font-size: small;
    padding-right: 10px;
  }

  .projectsContainer {
    width: 95%;
    font-size: 16px;
  }

  .IntroImg {
    display: none;
  }

  .introContainer {
    width: 100%;
  }

  .intro {
    font-size: medium;
  }
}